body {
    background-color: #f5f5f5;
}
header {
    text-align: center;
    padding: 5px;
}
img {
    width: 170px;
}
main {
    display: flex;
    margin: 1%;
    justify-content: space-evenly;
}
.login-reg {
    width: 40%;
    padding: 10px;
    border:#326B9A 2px solid;
    border-radius: 20px;
    background-color: white;
}
@media all and (max-width: 720px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 2%;
        justify-content: space-evenly;
    }
    .login-reg {
        width: 80%;
        border:#326B9A 2px solid;
        border-radius: 20px;
        margin-bottom: 20px;
    }
}
h2 {
    color: #326B9A;
}
form {
    padding: 10px;
}
.btn-primary:hover {
    background-color: #326B9A;
    border: none;
}
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #FF4949;
    border: none;
}
.alert {
    margin: 20px;
}
#check-email{
    color:red;
}
#matches{
    color:green;
}
#doesnt-match{
    color:red;
}