* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f5f5f5;
}
.navbar {
    width: 100%;
    background-color:#10316B ;
}
.navbar-brand,.nav-item a {
    color: white;
}
.navbar-brand:hover,.nav-item a:hover {
    color: #E0FF4F;
}
button.btn{
    margin-right: 20px;
}
.logout{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
.logout:hover{
    color: #FF4949;
    text-decoration: none;
}
.dropdown-menu a{
    color: #10316B;
}
.dropdown-menu a:hover {
    color: #10316B;
}
.logo img{
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
}
main{
    width: 100%;
    min-height: 900px;
    margin-top: 20px;
}
/* footer styling */
#footer {
    background-color: #10316B;
    margin-top:20px;
    bottom: 0;
    width: 100%;
}
#footer .copyright {
    text-align: center;
}
.accounts{
    text-align: center;
}
.social-media {
    padding: 30px;
}
#footer .container{
    padding: 10px;
}
.copyright {
    color: white;
    padding: 5px;
    font-size: 0.7rem;
}
.social-icon {
    width: 20px;
} 
/* footer {
    background-color: #0F316B;
    height: fit-content;
    width: 100%;
    margin-top:20px;
}
.social-media {
    padding: 10px;
}
.copyright {
    background-color: #0F316B;
    padding: 5px;
}
.copyright p {
    font-size: 0.7rem;
}
.social-icon {
    width: 20px;
} */