<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>    
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/nav_bar_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us_style.css' %}">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <div class="logo">
                <a href="/dashboard/"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard/profile/{{request.session.id}}/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/new/">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/about/">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cities</a>
                            <ul class="dropdown-menu">
                                {% for city in all_cities %}
                                <li><a class="dropdown-item" href="/dashboard/{{city.id}}/">{{city.name}}</a></li>
                                {% endfor %}
                            </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard/random/">Random</a>
                    </li>
                </ul>
                    <a href="/logout/" class="logout">Logout</a>
                <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="text-center">
                <h1> ARE YOU READY FOR AN ADVENTURE?</h1>
                    <div class="about-text">
                        <p><span>Our idea</span> is to provide a platform for Palestinians to share and learn about different events in their area, or an area they are visiting, and to get new ideas about activities they can do anytime.</p> 
                        <p><span>Our goal</span> is to help you find your new favorite tradition with your friends, and to help others in your area appreciate all the hidden gems your city has to offer. It's the perfect antidote to your boredom!</p>
                        <p>We depend on user-generated content, so don't hesitate to add any events happening around you, and to share ideas for experiences other people can have in your favorite place.</p>   
                    </div>
                <h2>MEET OUR STELLAR TEAM</h2>
                <div class="team-members">
                    <div class="team-member">
                        <img class="profile-pic" src="{% static 'images/karam.png' %}" alt="Karam Taha">
                        <h4>Karam Taha</h4>
                    </div>
                    <div class="team-member">
                        <img class="profile-pic" src="{% static 'images/reina.png' %}" alt="Reina Handal">
                        <h4>Reina Handal</h4>
                    </div>
                    <div class="team-member">
                        <img class="profile-pic" src="{% static 'images/saeed.png' %}" alt="Saeed Qatanani">
                        <h4>Saeed Qatanani</h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="container">
            <section class="accounts">
                <!-- Facebook -->
                <a class="btn btn-floating m-1" href="#!" role="button"><img class="social-icon" src="{% static 'images/facebook.png' %}" alt="facebook"></a>
                <!-- Twitter -->
                <a class="btn btn-floating m-1" href="#!" role="button"><img class="social-icon" src="{% static 'images/twitter.png' %}" alt="twitter"></a>
                <!-- Instagram -->
                <a class="btn btn-floating m-1" href="#!" role="button"><img class="social-icon" src="{% static 'images/instagram.png' %}" alt="instagram"></a>
            </section>
            <div class="copyright">
                &copy; Copyright <strong>Meshwar</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
</body>
</html>